rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Zezwalaj na odczyt dla wszystkich, a na zapis tylko dla zalogowanych użytkowników
    match /{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}