.register-card {
    max-width: 400px;
    margin: 40px auto;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  mat-card-actions {
    margin-top: 16px;
    text-align: center;
  }
  mat-card-content {
    padding-top: 10px;
  }
  